<div class="container dark_liver p-4 mt-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/assets/banner.png" alt="" srcset="">
    </a>
  </header>

  <div class="p-5 mb-4 piriwinkle_crayola rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Primer Parcial</h1>
      <p>Laboratorio de Computacion IV - Universidad Tecnologica Nacional - Facultad Regional Avellaneda</p>
      <button class="btn c_desert_sand dark_liver btn-lg" routerLink="/about" type="button">About</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Mis Datos</h2>
        <p>Daniel Rubén de Brito - dni 27303483 - legajo 104437 - 4ºBº Turno Noche</p>
        <button class="btn btn-outline-light" type="button" routerLink="/about" >About</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Profesores</h2>
        <p>Octavio Villegas / Matias Mirotta / Mariano.</p>
        <button class="btn btn-outline-secondary" type="button" routerLink="home" >UTN</button>
      </div>
    </div>
  </div>
