<h4 class="mb-3">Nuevo Actor</h4>
<form [formGroup]="formulario" (ngSubmit)="cargarActor()">

  <div class="row">
    <div class="col-sm-3">
      <img src="/assets/peliculas/killbill.jpg" alt="" srcset="">
    </div>
    <div class="col-sm-9">
      <div class="row">

        <div class="col-sm-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
          <small class="invalid"
            *ngIf="formulario.controls.nombre.errors?.required && formulario.controls.nombre.touched">
            El nombre es requerido.
          </small>
          <small class="invalid"
            *ngIf="formulario.controls.nombre.errors?.minlength && formulario.controls.nombre.touched">
            El nombre debe tener al menos dos caracteres.
          </small>
          <small class="invalid"
            *ngIf="formulario.controls.nombre.errors?.maxlength && formulario.controls.nombre.touched">
            El nombre puede tener cuarenta caracteres maxino.
          </small>
          <small class="invalid"
            *ngIf="formulario.controls.nombre.errors?.containsSpaces && formulario.controls.nombre.touched">
            El nombre no puede contener espacios.
          </small>
        </div>

        <div class="col-sm-6">
          <label for="fechaEstreno" class="form-label">Fecha de Estreno</label>
          <input type="text" class="form-control" id="fechaEstreno" placeholder="Ingrese fecha de estreno"
            formControlName="fechaEstreno">
          <small class="invalid"
            *ngIf="formulario.controls.fechaEstreno.errors?.required && formulario.controls.fechaEstreno.touched">
            La fecha de estreno es requerido
          </small>
          <small class="invalid"
            *ngIf="formulario.controls.apellido.errors?.maxlength && formulario.controls.apellido.touched">
            La fecha de estreno puede tener ocho caracteres maxino.
          </small>
        </div>
      </div>

      <div class="row">

        <div class="col-md-2">

          <label for="tipo" class="form-label">Tipo</label>
          <select class="form-control" id="tipo" formControlName="tipo">
            <option value="">Seleccione uno</option>
            <option value="Terror">Terror</option>
            <option value="Comedia">Comedia</option>
            <option value="Amor">Amor</option>
            <option value="Triller">Triller</option>
            <option value="Otros">Otros</option>
          </select>
          <small class="invalid" *ngIf="formulario.controls.tipo.errors?.required && formulario.controls.tipo.touched">
            El tipo es requerido
          </small>
          
        </div>

        <div class="col-md-5">

          <label for="cantPublico" class="form-label">cant. Publico</label>
          <input type="text" class="form-control" id="cantPublico" placeholder="Ingrese Cant. Publico"
            formControlName="cantPublico">
          <small class="invalid"
            *ngIf="formulario.controls.cantPublico.errors?.required && formulario.controls.cantPublico.touched">
            La cantidad de publico es requerida
          </small>
        </div>

        <div class="col-md-5 p-3">
          <app-pais-detalle [pais]="pais"></app-pais-detalle>
        </div>
        <small class="invalid" *ngIf="errorPais">
          El pais es requerido
        </small>
      </div>

    </div>
  </div>

  <hr class="my-4">

  <div class="row">

    <div class="col-md-12 d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-block"
        [disabled]="formulario.invalid || !formulario.controls.terminos.value">
        Crear Actor
      </button>
    </div>

  </div>
</form>